<h1>Hello, this is a user page</h1>
<ul>
  {% for user in users %}
  <li style="display: flex">
    <p>{{ user.name }}</p>
    
    <div>
      <form id="{{ user.id }}" class="delete-form">
        <button type="submit">Delete</button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.addEventListener('submit', (e) => {
      if (e.target.classList.contains('delete-form')) {
        e.preventDefault();
        const id = e.target.id;
        fetch(`/user/${id}`, { method: 'DELETE' })
          .then(() => {
            // alert("User deleted successfully");
            window.location.href = '/user/';
          })
          .catch((error) => console.error('Error deleting user:', error));
      }
    });
  });
</script>
